.login {
  /* margin:0 auto; */
  text-align: center;
}

.login button {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 20px 0;
  background-color: orangered;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login button:hover {
  background-color: olivedrab;
  /* padding: 10px 15px; */
}
